<meta charset="UTF-8"/>

<div id="h">

    <div class="w960">
        <span class="time">贤上科技咨询-Java相关资源搜索</span>
        <div class="toplinks">
            [&nbsp;<a href="/article/list/1" target="_blank"><span>最新资源收录列表</span></a>&nbsp;]&nbsp;[&nbsp;<a href="http://www.java1234.com/" target="_blank"><span style="color:red">Java1234官网</span></a>&nbsp;]&nbsp;[&nbsp;<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=554605804&amp;site=qq&amp;menu=yes" target="_blank">联系锋哥</a>&nbsp;]
        </div>
    </div>

</div>