<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}+'-贤上科技咨询'"></title>
    <meta name="description" content="贤上科技咨询最新资源收录" />
    <meta name="keywords" content="贤上科技咨询最新资源收录" />
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/bootstrap3/js/jquery-1.11.2.min.js"></script>
    <script src="/static/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div class="header_top" th:include="common/head::#h" />

<div class="container">

    <div class="row"  th:include="common/search::#s" style="padding-top: 30px;"/>

    <div th:include="common/nav::#n" />

    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <div class="data_list">
                <div class="data_list_title">
                    <img src="/static/images/newest_list.png"/>
                    最新资源收录列表
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>资源名称</th>
                        <th>分享人</th>
                        <th>分享日期</th>
                        <th>收录日期</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="article:${articleList}">
                            <td><a th:href="'/article/'+${article.id}" target="_blank" th:title="${article.name}" th:text="${article.name}"></a></td>
                            <td th:text="${article.shareUser}"></td>
                            <td th:text="${#strings.substring(article.shareDate,0,10)}"></td>
                            <td th:text="${#strings.substring(article.includeDate,0,10)}"></td>
                         </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div align="center">
            <nav>
                <ul class="pagination pagination-sm" th:utext="${pageCode}">
                </ul>
            </nav>
        </div>
    </div>

    <div style="padding-top: 0px;padding-bottom: 30px" th:include="common/foot::#f" />
</div>


</body>
</html>