<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title th:text="贤上科技咨询后台管理"></title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"></link>
    <link rel="stylesheet" href="/static/css/css.css"></link>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/toAdminUserCenterPage" style="color: gray">贤上科技咨询-后台管理</a></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/images/manager.jpg" class="layui-nav-img" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></img>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/logout">安全退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">资源管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:openPage('articleManage.html')">资源管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">标签管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:openPage('hotSearchManage.html')">标签管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="pageFrame" frameborder='0' scrolling='auto' style='width:100%;height:98%' src="/admin/default.html"></iframe>
    </div>

    <!--<div class="layui-footer">-->
        <!--&lt;!&ndash; 底部固定区域 &ndash;&gt;-->
        <!--Copyright © 2012-2020 Java知识分享网 南通小锋网络科技有限公司 版权所有-->
    <!--</div>-->
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/bootstrap3/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/common.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use(['element','laypage','form'], function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        var $ = layui.jquery; // 使用jquery
        var laypage = layui.laypage;
        var tMenu=[[${session.tMenu}]];
        $("#"+tMenu).css("color","red");
    });



    function openPage(page){
        $("#pageFrame").attr("src","/admin/"+page);
    }



    function logout(){
        layer.confirm("您确定退出系统吗", {
            title:"系统提示"
            ,btn: ['确定','取消'] //按钮
        }, function(){
            window.location.href="/admin/user/logout";
        }, function(){

        });
    }



    /*]]>*/
</script>
</body>
</html>